# Built libbarrett examples
ex01_initialize_wam
ex02_hold_position
ex03_simple_move
ex04_display_basic_info
ex05_systems_intro
ex06_realtime_move
ex07_realtime_data_logging
ex08_teach_and_play
ex09_torque_control
ex10_haptics
ex11_master_master
